html,
body,
#root {
  height: 100% !important;
  background-color: #f8f8f8;
  direction: ltr;
}

body {
  overflow: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f9ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

/* select-menu */
.select {
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 204, 204);
  border-right: 2px;
  border-style: solid;
  border-width: 1px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 10px;
}

/* map-library */
.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-pane,
.leaflet-left {
  z-index: 10 !important;
}
